<template lang="pug">
div
  MyHeader(@enterInput='addProject' v-model='new_project_name')
  Project(v-for="project in projects" :key="project.id" :project="project" @delete-project="deleteProject")
</template>

<script>
import Project from '@/components/Project';
import Header from '@/components/Header';
import { addProject, getProjects, deleteProject } from '@/api/project';

export default {
  name: 'home',
  components: { Project, MyHeader: Header },

  data: () => ({
    projects: [],
    new_project_name: '',
  }),

  created() {
    getProjects().then(resp => (this.projects = resp.data));
  },

  methods: {
    addProject(title) {
      addProject({ title }).then(resp => {
        this.projects.push(resp.data);
        this.new_project_name = '';
      });
    },
    deleteProject(project) {
      deleteProject({ id: project.id }).then(resp => {
        const projectIndex = this.projects.indexOf(project);
        this.projects.splice(projectIndex, 1);
      });
    },
  },
};
</script>