<template lang="pug">
.container.auth-form: .row: .col-8.offset-sm-2
  .h1.text-primary Log In
  form(@keyup.enter='logIn')
    .alert.alert-danger(v-if='errors') {{ errors }}
    .form-group: input.form-control(type='email' placeholder="Email" v-model='credentials.email')
    .form-group: input.form-control(type='password' placeholder="Password" v-model='credentials.password')
    .form-group
      button.btn.btn-primary(type='button' @click='logIn') Log In
      router-link.btn.btn-success(:to="{name:'Registration'}") Registration
</template>
<script>
import { auth } from '@/api/auth';

export default {
  name: 'login',
  data: () => ({
    credentials: {
      email: '',
      password: '',
    },
    errors: '',
  }),
  methods: {
    logIn() {
      auth({ credentials: this.credentials })
        .then(() => this.$router.push({ name: 'Home' }))
        .catch(e => (this.errors = e.response.data.errors.join('\n')));
    },
  },
};
</script>
<style lang="scss" scoped>
.auth-form {
  background-color: rgba(255, 255, 255, 0.3);
}
</style>
