<template lang="pug">
.container.registration-form: .row: .col-8.offset-sm-2
  .h1.text-primary Sign Up
  form(@keyup.enter='signUp')
  .alert.alert-danger(v-if='errors') {{errors}}
  .form-group: input.form-control(type="email" placeholder="Email" v-model='credentials.email')
  .form-group: input.form-control(type="password" placeholder="Password" v-model='credentials.password')
  .form-group: input.form-control(type="password" placeholder="Confirm password" v-model='credentials.password_confirmation')
  .form-group
    button(type="button" class="btn btn-primary" @click='signUp') Sign Up
    router-link(:to="{ name: 'Login' }" class="btn btn-success") Login
</template>

<script>
import { registrate } from '@/api/registration';

export default {
  name: 'registration',

  data: () => ({
    credentials: {
      email: '',
      password: '',
      password_confirmation: '',
    },
    errors: '',
  }),

  methods: {
    signUp() {
      return registrate({ credentials: this.credentials }).then(() =>
        this.$router.push({ name: 'Home' }),
      );
    },
  },
};
</script>
<style lang="scss" scoped>
.registration-form {
  background-color: rgba(255, 255, 255, 0.3);
}
</style>
