<template lang="pug">
header: .container
  .col-sm-8.offset-sm-1: .input-group
    input.form-control( type="text" placeholder="Start typing here to create a project..."
      aria-label="Start typing here to create a project..."
      aria-describedby="create-project"
      @keyup.enter='enterInput'
      @change='$emit("input", $event.target.value)'
      :value='value'
    )
    .input-group-append: .input-group-text.cursor-pointer.btn-primary#create-project(@click='enterInput')
      i.fa.fa-plus Add project
  .col-sm-2.offset-sm-1: button.btn.btn-danger(@click='logOut' type="button") Log Out
</template>

<script>
export default {
  props: {
    value: String,
  },
  methods: {
    enterInput() {
      this.$emit('enterInput', this.value);
    },
    logOut() {
      localStorage.removeItem('headers');
      this.$router.push({ name: 'Login' });
    },
  },
};
</script>

<style lang='scss' scoped>
header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4473b3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  margin-bottom: 10px;
  .container {
    display: flex;
  }
  &:first-child {
    padding: 10px;
  }

  .fa-plus {
    margin-right: 5px;
  }
}
</style>

